@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

.card {
  margin: 0 10px;
  width: 45%;
  transition: .4s ease-in-out;
}

.card:hover {
  cursor: pointer;
}

.banner {
  position: relative;
  max-width: 1200px;
  transition: .4s ease-in-out;
  overflow: hidden;
  background-color: black;
  aspect-ratio: 7/9;
}

.name {
  font-family: 'Arapey', serif;
  font-size: 1em;
  margin: 10px 0 0 0;
  height: 50px;
}

  .price {
    font-size: 1em;
    font-weight: 400;
    height: 45px;
  }