@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

.card {
  margin: 10px;
  width: 45%;
  transition: .4s ease-in-out;
}

.card:hover {
  cursor: pointer;
}

.banner {
  position: relative;
  max-width: 1200px;
  padding: 8px;
  transition: .4s ease-in-out;
  overflow: hidden;
  aspect-ratio: 7/9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.banner:hover {
  transform: rotate(0.3deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.name {
  font-family: 'Arapey', serif;
  font-size: 1em;
  padding: 20px 10px 10px 0; 
  height: 70px;
  background-color: rgb(255, 255, 255);
}

  .price {
    font-size: 1em;
    font-weight: 400;
    height: 45px;
    background-color: rgb(255, 255, 255);
  }